NODE_ENV=production
PORT=8080
NEXT_PUBLIC_APP_URL=https://app.prosperofy.com
NEXT_PUBLIC_API_BASE_URL=https://backend.prosperofy.com
NEXT_PUBLIC_LARAVEL_API_BASE_URL=https://backend.prosperofy.com
NEXT_PUBLIC_BACKOFFICE_URL=https://backoffice.prosperofy.com
NEXT_PUBLIC_DEVELOPER_PORTAL_URL=https://developer.prosperofy.com