NODE_ENV=production
PORT=3000

APP_URL=https://app.prosperofy.com
NEXT_PUBLIC_APP_URL=https://app.prosperofy.com

NEXT_PUBLIC_LARAVEL_API_BASE_URL=https://backend.prosperofy.com
API_BASE_URL=https://backend.prosperofy.com
BACKEND_URL=https://backend.prosperofy.com

FRONTEND_URL=https://app.prosperofy.com
BACKOFFICE_URL=https://backoffice.prosperofy.com
DEVELOPER_PORTAL_URL=https://developer.prosperofy.com
WALLET_SERVICE_URL=https://walletapi.prosperofy.com
AI_SERVICE_URL=https://aiservice.prosperofy.com
INTERNAL_SERVICE_URL=your_private_vpc_base_url_here
CORS_ORIGINS=
ALLOWED_ORIGINS=
CALLBACK_URL=your_callback_url_here
REDIRECT_URL=your_redirect_url_here
AUTH_URL=https://backend.prosperofy.com
TRUSTED_HOSTS=app.prosperofy.com