NODE_ENV=production
PORT=8080
NEXT_PUBLIC_APP_URL=https://app.prosperofy.com
NEXT_PUBLIC_API_BASE_URL=https://backend.prosperofy.com
NEXT_PUBLIC_LARAVEL_API_BASE_URL=https://backend.prosperofy.com
NEXT_PUBLIC_BACKOFFICE_URL=https://backoffice.prosperofy.com
NEXT_PUBLIC_DEVELOPER_PORTAL_URL=https://developer.prosperofy.com
NEXT_PUBLIC_PAYMENT_REDIRECT_HOST_SUFFIXES=.nowpayments.io,.nowpayments.com
NEXT_PUBLIC_API_TIMEOUT_MS=15000
NEXT_PUBLIC_SOLANA_NETWORK=mainnet-beta
NEXT_PUBLIC_WALLET_SEND_SOLANA_ENABLED=true
NEXT_PUBLIC_WALLET_SEND_SPL_ENABLED=false
NEXT_PUBLIC_WALLET_SEND_ETHEREUM_ENABLED=false
NEXT_PUBLIC_WALLET_SEND_BITCOIN_ENABLED=false
NEXT_PUBLIC_WALLET_SEND_ERC20_ENABLED=false
